<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>Prueba</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">


	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    
	<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
	<script src="https://d3js.org/d3.v7.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@latest/dist/Chart.min.js"></script>

	
	<style type="text/css">
        #map {
			width: 95%;
   			height: 600px;
			margin-left: 39px;
    		margin-top: 20px;
			margin-bottom: 20px;
        }
    </style>




	<style>
		.center {
		  display: flex;
		  justify-content: flex-start;
		  align-items: flex-start;
		}
	  </style>
	  <style>
		body {
		  margin: 0;
		  padding: 0;
		  overflow: scroll;
		}
	  </style>


</head>
<body >
	
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
		  <div class="navbar-header">
			<a class="navbar-brand" href="#">Flight Simulation</a>
		  </div>
		  <ul class="nav navbar-nav">
			<li class="active"><a href="/profile">Home</a></li>
			<li class="active"><a  href="/">Insertar archivos </a></li>
			</li>
			<li><a href="#">Page 2</a></li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
			<li class="dropdown-toggle"><a class="glyphicon glyphicon-user" data-toggle="dropdown"> <%=name%></a>
				<ul class="dropdown-menu">
					<li><td><%= name %></td></li>
					<li><td><%= email %></td></li>
				  </ul>
			</li>
			<li><a href="/logout""><span class="glyphicon glyphicon-log-in"></span> Logout </a></li>
		  </ul>
		</div>
	  </nav>
	  <form enctype="multipart/form-data" method="post">
		<input type="file" name="archivo">
		<button type="submit" method="post">Subir archivo</button>
	  </form>

	
	  
</body>
</html>
